/Expr.class
/LiteralBoolean.class
/LiteralInt.class
/LiteralString.class
/MetaobjectAnnotation.class
/NullExpr.class
/PW.class
/Program.class
/Statement.class
/Type.class
/TypeBoolean.class
/TypeCianetoClass.class
/TypeInt.class
/TypeNull.class
/TypeString.class
/TypeUndefined.class
/AssertStat.class
/AssignExpr.class
/CompositeExpr.class
/MemberList.class
